<template>
    <h1>Кошик</h1>
  <div v-for="(p,index) in products" :key="index">
    <h1>{{(index+1)}}. {{ p.item }}</h1>
    <p>Ціна: {{ p.price }}</p>
  </div>
</template>

<script>
export default {
    data(){
        return{
            products:[]
        }
    },
    mounted(){
        this.products=this.$store.getters.getCart
    }
}
</script>

<style>

</style>